* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  min-height: 100% !important;
  height: 100%;
}


main{
    height:fit-content;
    width:65%;
    position: relative;
    left:15%;
    border: 5px solid rgb(212, 212, 212);
    border-bottom: none;
    border-top: none;
    overflow: hidden;
}

nav{
    width: 100%;
    height:75px;
    background-color:whitesmoke;
    position:relative;
    top:0;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 4px black;
    font-size: 1.5em;
    z-index: 0;
}
nav #title{
    text-decoration: none;
    color: black;
    position: relative; 
    left:10%;
}

#navButtons{
    position: absolute;
    right:10%;
    padding:16px;
}
.dropdown {
  position: absolute;
  display: inline-block;
  right:10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -40%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.6s;
  cursor:pointer;
}

.dropdown-content a:hover {
  background-color: #008CBA;
  color: white;
}
.dropdown-content a.logout:hover{
    background-color: red;
    color: white;
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #008CBA;}
body {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], select ,textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline:none;
}

/* Set a style for all buttons */
button {
  background-color: #008CBA;
  position: relative;
  color: white;
  padding: 14px 16px;
  margin: 8px 0;
  cursor: pointer;
  width: auto;
  z-index: 2;
  border-radius: 8px;
  border:2px solid;
  font-family: inherit;
  font-size: 0.9rem;
}
button:hover {
    opacity: 0.8;
  }
#navButtons button{
    border-color:#008CBA;
}
#navButtons button:hover{
    background-color: #0575c0;
}
.submit{
    width: 100%;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;

}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}


span.passw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: fit-content;
  overflow: auto;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.invalidLogin{
    border:2px solid red;
    background-color: rgba(255, 0, 0, 0.356);
}
.invalidText{
    color:red;
    background-color: white;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


.inboxContainer{
  background-color: #f3f3f3;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80px;
  border-radius: 6px;
  position: relative;
  padding:8px;
}
.markedA{
  color: green;
}
footer{
  width:100%;
  height:200px;
  background-color: black;
  box-shadow: inset 20px 30px 80px #000000,inset -20px -30px 100px #000000;


  z-index: 5;
  position: relative;
}
footer h3{color:#008CBA;}
footer button{background-color:#0575c0; }


#Content-store, #Content-Social-Media{
  color:white;
  position: absolute;
  margin-top:2%;
  left:35%;
  display: block;

}

#Content-store li, #Content-Social-Media li{
  list-style-type: none;
  margin-top:5%;

}
#Content-store li a:hover, #Content-Social-Media li a:hover{
  color: #0575c0;
}
#Content-store li a, #Content-Social-Media li a{
  text-decoration: none;
  color:white;
  font-weight:normal;
  font-size: 12px;
}
#newsletter{
  position: absolute;
  margin-top:2.5%;
  left:10px;
  
}
#newsLetterButton{
  width:40px;
  height:25px;
  left:0px;
  outline: none;
  padding: 0 !important;
}
#newsletter h5{
  color: white;
  font-weight: bold;
}
#newsletter input{
  margin-top:10px;
  height:25px;
  outline: none;
}

#Content-Social-Media{
  margin-left: 25%;
}


#Copyright{
  position: absolute;
  bottom: 0%;
  left:10px;
  bottom: 3%;
  color:white;
  font-size: 0.7rem;
  font-weight: bold;
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper .search_box{
  width: 500px;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown{
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.wrapper .search_box .dropdown ul{
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active{
  display: block;
}

.wrapper .search_box .dropdown ul li{
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child{
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #5078ef transparent transparent transparent;
}

.wrapper .search_box .search_field{
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.passw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  main{
    min-width:100%;
    left:0 !important;
    border:none;
  }
  .modal-content{
    width:70%;
  }
  .dropdown-content{
    right:0;
  }
} 


