.ContactForm {
    margin-top: 5%;
    width: 40%;
    float: left;
    padding: 0 5%;
}

textarea {
    width: 90%;
    height: 200px; /* Adjust the height of the text field */
    padding: 5px; /* Adjust padding for spacing inside the text field */
    font-size: 18px; /* Adjust font size */
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 15px;
    text-indent: 10px;
    resize: none;
    margin: 8px 0;
}
.rev {
    text-align: center;
    padding-top: 60px;
    width: 90%;
    color: white;
    font-size: larger;
    top: 50px;
}

.star{
    margin-top: -0.5%;

}

label{
    display: block;
}

.ContactForm button{
    display: block;
    padding-right: 5%;
    float: left;
    width: 93%;
    border-radius: 15px;
    height: 50px;
}
.wrapper{
    padding: 5%;
    border: solid black 5px;
    width: 90%;
}
/* Media query for smaller screens */
@media only screen and (max-width: 710px) {
    .ContactForm 
    {
        width: 87%;
    }
    
    .ContactForm button 
    {
        width: 50%;
    }
    .rev {
        display: grid;
        padding-top: 40px;
        position: center;
        min-height: 20%;
        text-align: center;
        text: larger;

      }
  
}