.ContactForm {
    margin-top: 5%;
    width: 40%;
    float: left;
    padding: 0 5%;

}

textarea {
    width: 90%;
    height: 200px; /* Adjust the height of the text field */
   padding: 5px; /* Adjust padding for spacing inside the text field */
    font-size: 18px; /* Adjust font size */
    border: solid black 2px;
    border-radius: 15px;
    text-indent: 10px;
    resize: none;
    margin: 8px 0;
}

.rev {
    text-align: center;
    margin-top: 9%;
    width: 100%;
    color: white;
    font-size: larger;
}

.star{
    margin-top: -0.5%;
}

label{
    display: block;
}

button{
    display: block;
    padding-right: 5%;
    float: left;
    width: 90%;
}
.wrapper{
    padding: 5%;
}
/* Media query for smaller screens */
@media only screen and (max-width: 710px) {
    .ContactForm {
        width: 100%;

        }
    .rev {
        display: grid;
        padding-top: 40px;
        margin-left: 5%;
        position: center;
        min-height: 20%;
        text-align: center;
        text: larger;

      }
  
}