

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/*
    containern får display flex
    text-align: center centrerar texten i boxen

    margin: 0 auto      för flex item gör så att item centreras i sin box

    font-weight: bold;      Gör texten  tjock
    
*/

:root{
    --test: 0;
}
#list-container
 {
    height: 1px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

   
 }

 .container:hover #list-container {
    height: 100%;
    overflow: visible;
    animation: 2s example;
 }
.container{
    display: flex;
    background-color: #fff;
    border: 8px #D69696 solid;
    flex-direction: column;
    width: 370px;
    border-radius: 40px;
    position: relative;
}
.stock{
    font-size: 30px;
    right: 0;
    transform: translateX(-50%);
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

@keyframes example {
    from{height: 468};
    to {height: 700};
  }
.text{
    font-family: 'Inter', sans-serif;;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}
.container > img{
    margin: 0 auto;
    width: 200px;
}
.line{
    width: 99%;
    border: 2.5px rgba(131.69, 92.18, 92.18, 0.57) solid;
}
/*
jobba med pos w3schools
gör text responsiv
*/ 
.prodname{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: italic;
    margin: 0 auto;
    padding: 0;
    font-weight: 100;
}


.price{
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #DD1616;
    display: inline-block;
}

/*
    margin-top: auto; tar upp all tillgänglig plats från top och flyttar element längst ner
    studera auto margins och inline-block
*/

.btncont{
    text-align: center;
    margin-top: auto;
}
.btncont button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    background-color: #CB7575;
    border-radius: 25px;
    transform: translateY(-50%);
    transition: 0.2s;
}
.btncont button:hover{
    background-color: #4527A0;
}
.btn{
    width: fit-content;
    margin:auto;
}

#uli li::before{
    display: inline-block;
    width: 2rem;
    content: "\2756";
}
@media only screen and (min-width: 500px) {
    .gridcont { 
        grid-template-columns: auto;
        justify-content: center;
    }
}
@media only screen and (min-width: 1000px) {
  .gridcont { 
    grid-template-columns: auto auto;
    justify-content: center;
}
  }
@media only screen and (min-width: 1400px) {
.gridcont { 
    grid-template-columns: auto auto auto;
    justify-content: center;
}
}
.gridcont{
    display: grid;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
}
.item{
    text-align: center;
}
