.gridcont{
    display: flex;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    gap: 70px;
    padding: 10px;
    height: auto;
    width: auto;
}
.item{
    background: white;
    text-align: center;
    border: black;
}