@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/*
    object-fit: cover;  bilden behåller sin ratio och fyller skärmen. Det som inte få plats klipps ut
*/
body{
    background-color: #1a1c1f;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin-left: 100px;
    margin-top: 100px;
}
.person{
    /*border: 10px solid black;*/
}
.person img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 30px;
    border-radius: 48%;
}
/*border: 2px solid black;*/
.person div{

    display: flex;
}
.textcont{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.textcont p{
    margin-top: 1px;
    margin-left: 30px;
    color: white;
}

.textcont h1{
    margin: 0 0 0 15%;
    font-weight: 700;
}
.textcontdesc{
    margin-left: auto;
    width: 380px;
}
