html { font-size: 22px; }
body { padding: 1rem; }
* {
    box-sizing: border-box;
}
@media only screen and (max-width: 500px) {
    .gridcontainer{ grid-template-columns: repeat(2, 1fr); }
      }
@media only screen and (min-width: 1000px) {
    .gridcontainer{ grid-template-columns: repeat(3, auto); }
}
@media only screen and (min-width: 1500px) {
    .gridcontainer{ grid-template-columns: repeat(4, auto); }
}

/*
@media only screen and (max-width: 768px)      när skärmen är mindre är 768 pixlar

@media only screen and (min-width: 768px)      när skärmen är större än 768 pixlar
*/


.gridcontainer{
    margin: 0 auto;
    display: grid;
    width: auto;
    gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: dodgerblue;
}
.item{
    display: inline-block;
    background-color: dodgerblue;
    color: white;
    height: 4rem;
    text-align: center;
}

    
