body{
    background-color: #eeeeee;
    padding: 30px;
}
.container{
    background-color: #fff;
    height: 100px;
    line-height: 100px;
}
.text{
    background-color: white;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    
}
.contain3{
    display: table;
    height: 300px;
    background-color: #fff;
}
.text3{
    display: table-cell;
    vertical-align: bottom;
}