/*
grid-template-rows: hur långt varje column sträcker sig
*/
.app {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: "header header header"
                        "sidebar content content" 
                        "footer footer footer";
  }
  /*
    grid-row bestämmer vilken rad
    grid-column: span 1 / -1;   bestämmer hur långt item stäcker sig

  */
  .item1{
    grid-row: 1;
    grid-column: span 3 / -1;
    
    background-color: aqua;
  }
  /*
  grid-rows-start bestämmer vart biden läggs till eftersom den ligger på samma rad overlappar dem
  */
  
  .item2{
    z-index: 2;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column: span 3 / -1;
    grid-row-end: span 3;
    background-color: red;
  }
  